.Add-background {
    background-color: #DFF2FF;
    display: inline-block;
    width: 100%;
}

.Add-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: #ffffff;
    min-height: 379px;
}