.Movie_container, .TvShow_container
{
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 350px;
    height: 500px;
}

.Movie_container, .TvShow_container h1
{
    text-align: center;
    padding-top: 10px;
}

.Movie_container, .TvShow_container h2
{
    text-align: center;    
}

.date
{
    padding-left: 66%;
}

.resume
{
    text-align: justify;
    padding: 0 20px 0 20px;
}

.viewers
{
    padding: 0 20px 0 20px;   
}