.NYBooks_container
{
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 500px;
    height: 500px;
}

.NYBooks_container h1
{
    text-align: center;
    padding-top: 10px;
}

.NYBooks_container h3
{
    text-align: center;
}

.BooksData
{
    text-align: center;
}

.NYBooks_container button
{
    margin-top: 20px;
    margin-left: 41%;
}

.NYBooks_container input
{
    margin-top: 30px;
    margin-left: 30%;
}