.App {
  margin: 0;
  padding: 0;
  background-color: #FBFCFA;
}

/*Header with logo */

.App-header
{
    margin-top: -80px;
    background-color: #DFF2FF;
    height: 200px;
    width: 100%;
    text-align: center;
}

.App-header h1
{
  font-size: 80px;
  padding-top: 40px;
}

/* Container where is the forms */

.App_Body_Forms
{
    width: 400px;
    height: 400px;
    border-radius: 5px;
    background-color: #f2f2f2;
    text-align: center;
    margin-left: 770px;
    margin-top: 80px;
}

.App_Body_Forms form
{
    padding: 50px 0 0 10px;
}

.App_Body_Forms h3
{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -20px;
    margin-top: -20px;
}

.App_Body_Forms p
{
    margin-top: 60px;
    font-family: 'Times New Roman', Times, serif;
    color: grey;
}

.App_Body_Forms a
{
    color: #77B5FE;
    text-decoration: none;
}

input[type=email]
{
    width: 330px;
    height: 30px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=password]
{
    width: 330px;
    height: 30px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    background-color:#3A8EBA;
    width: 300px;
    height: 40px;
    color: white;
    border: none;
    margin-top: 60px;
    border-radius: 4px;
    cursor: pointer;

  }

.App_Footer
{
    margin-top: 200px;
    height: 100px;
    width: 100%;
    background-color: #9E9E9E;
}