.NYTimes_container
{
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 500px;
    height: 600px;
}

.NYTimes_container h1
{
    text-align: center;
    padding-top: 10px;
}

.NYTimes_container h2
{
    text-align: justify;
    padding : 0 20px 0 20px;
}

.NYTimes_container p
{
    padding : 0 20px 0 20px;
    text-align: justify;
}

.NYTimes_container img
{
    height: 200px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.NYTimes_container button
{
    margin-top: 30px;
    margin-left: 40%;
}