.NYTimes_container
{
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 500px;
    height: 600px;
}

.NYTimes_container h1
{
    text-align: center;
    text-align: justify;
    padding-top: 10px;
}

.NYTimes_container img
{
    height: 200px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}